.settings {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.815);
    top: 0;
    z-index: 11;
    animation: appear .25s ease-in-out;
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.settingsSection {
    background-color: black;
    width: 50vw;
    min-width: 600px;
    height: 90svh;
    border: 2px solid white;
    border-radius: 17px;
    position: fixed;
    top: calc(10svh - 30px);
    left: 25vw;
}
@media screen and (width <= 1200px) {
    .settingsSection {
        left: calc(50vw - 300px);
    }
}
.settingsWindowBar {
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.settingsWindowBar > span {
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    border: 3px solid white;
}
.settingsWindowBar > span > h2 {
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.5rem;
}
.closeIcon {
    width: 37px;
    height: 37px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 10px;
}
.installButton {
    background-color: whitesmoke;
    font-weight: bold;
    color: black;
    font-size: 1.1rem;
    font-family: Nunito, sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all .16s ease-in;
    outline: none;
    margin: 10px;
}
.installButton:hover {
    filter: brightness(.7);
}
.installButton:focus {
    border-color: rgb(150, 150, 150);
}