.settings {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.515);
    backdrop-filter: blur(3px);
    top: 0;
    z-index: 11;
    animation: appear 0.25s ease-in-out;
    font-family: "Lexend";
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.settingsSection {
    background-color: black;
    width: 50vw;
    min-width: 600px;
    height: 90svh;
    border: 1px solid #ddd;
    padding-top: 20px;
    border-radius: 50px;
    position: fixed;
    top: calc(10svh - 30px);
    left: 25vw;
}
@media screen and (width <= 1200px) {
    .settingsSection {
        left: calc(50vw - 300px);
    }
}
.settingsWindowBar {
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.settingsWindowBar > span {
    border-radius: 9px;
    cursor: pointer;
    margin-top: 20px;
    border: 3px solid white;
}
.settingsWindowBar > span > h2 {
    padding: 4px 15px;
    font-weight: bold;
    font-size: 1.5rem;
}
.closeIcon {
    width: 37px;
    height: 37px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;
}
.installArea {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
    border-radius: 20px;
    background-color: #101010;
    border: 2px solid white;
    margin-inline: 20%;
    padding: 30px;
    text-align: center;
}
.installButton {
    background-color: whitesmoke;
    width: fit-content;
    font-weight: bold;
    color: black;
    font-size: 1.1rem;
    font-family: Nunito, sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.16s ease-in;
    outline: none;
    margin: 10px;
}
.installButton:hover {
    filter: brightness(0.7);
}
.installButton:active {
    transform: scale(.85);
}
.installButton:focus {
    border-color: rgb(150, 150, 150);
}
.mainSettings {
    width: 90%;
    margin-top: 40px;
    margin-inline: 5%;
}
.modularOption {
    width: 100%;
    height: 90px;
    background-color: #101010;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    position: relative;
}
.modularOption > .optionName {
    font-size: 1.1rem;
}
.modularOption > input[type="checkbox"] {
    outline: none;
    background-color: #202020;
    width: 60px;
    height: 36px;
    border-radius: 20px;
    cursor: pointer;
    appearance: none;
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modularOption > input[type="checkbox"]::before {
    content: "";
    min-width: 26px;
    min-height: 26px;
    background-color: #dddddd;
    border-radius: 20px;
    transform: translateX(-10px);
    transition: all .2s ease-in-out;
    font-family: "Lexend";
}
.modularOption > input[type="checkbox"]:checked::before {
    transform: translateX(10px);
}
.modularOption > input[type="checkbox"] ~ .indicator {
    color: #dadada;
    padding: 4px 7px;
    border-radius: 5px;
    position: absolute;
    right: 100px;
    background-color: #5a0000;
    transition: all .125s ease-in-out;
}

.modularOption > input[type="checkbox"]:checked ~ .indicator {
    background-color: #005a00;
}
.modularOption > input[type="checkbox"] ~ .indicator:after {
    content: "disabled";
}
.modularOption > input[type="checkbox"]:checked ~ .indicator:after {
    content: "enabled";
}