
.animeInfo {
    height: 100svh;
    overflow: hidden;
    padding-top: 35px;
}
.animeInfoContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.animeKeyVisual {
    width: clamp(300px, 30vw, 470px);
    height: clamp(532px, 40vw, 835px);
    border-radius: 30px;
    object-fit: cover;
}
.description {
    width: 50vw;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px 30px;
    position: relative;
}
.sinopse {
    text-align: justify;
    font-family: Lexend;
    font-weight: 400;
    color: rgb(190, 190, 190);
}
.watchButton {
    background-color: transparent;
    color: #FE5F55;
    border: 2px solid #FE5F55;
    font-size: 2rem;
    border-radius: 15px;
    font-weight: bold;
    padding-block: 10px;
    width: 60%;
    cursor: pointer;
    margin-top: 20px;
    transition: color .2s ease-in, transform .16s ease-in, filter .2s ease-in;
}
.watchButton > span {
    margin-left: -50px;
    transition: all .2s ease-in;
}
.watchButton:hover {
    background-image: linear-gradient(172deg, #FE5F55 40%, #ff00d4);
    padding-block: 12px;
    border: 0px;
    color: black;
    transform: scale(1.025);
}
.watchButton:hover > .eyeIcon {
    opacity: 1;
    transform: translate(0, 5px);
}
.watchButton:hover > span {
    margin-left: 0;
}
.watchButton:focus {
    transform: scale(.975);
    filter: brightness(.8);
}

.eyeIcon {
    transform: translate(30px, 5px);
    opacity: 0;
    transition: all .3s ease-in-out;
}
.dubbedOrSubbedContainer {
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: inline-block;
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.dubbedOrSubbedSelector {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    position: absolute;
    width: 130px;
    top: -110px;
    background-color: rgba(65, 65, 65, 0.7);
    border-radius: 10px;
    padding: 5px;
    animation: appear .3s linear;
}


.dubbedOrSubbedSelector > * {
    cursor: pointer;
    width: 100%;
    padding-block: 10px;
    font-weight: bold;
    color: white;
    border: 0;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: transparent;
    transition: all .2s ease-in-out;
}
.dubbedOrSubbedSelector > *:hover {
    background-color: #FE5F55;
}
.btnSelectDubbedOrSubbed {
    width: 130px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #FE5F55;
    border: 0;
    color: rgb(250, 233, 201);
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btnSelectDubbedOrSubbed:hover {
    filter: brightness(.9);
}