.manga {
    margin-top: 35px;
}
.mangaImage {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-self: center;
}
.mangaTitle {
    text-align: center;
    margin-block: 20px;
}
.mangaDescription {
    color: #cccccc;
    text-align: center;
    max-width: 900px;
    display: flex;
    justify-self: center;
}
.mangaPages {
    width: 90vw;
    min-height: 400px;
    position: relative;
    left: 5vw;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    margin-top: 40px;
}