.manga {
    margin-top: 35px;
}
.mangaImage {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-self: center;
}
.mangaTitle {
    text-align: center;
    margin-block: 20px;
}
.mangaDescription {
    color: #cccccc;
    text-align: center;
    max-width: 900px;
    display: flex;
    justify-self: center;
}
.mangaPages {
    width: fit-content;
    max-width: 90vw;
    position: relative;
    left: 5vw;
    border-radius: 20px;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.mangaPage {
    width: 240px;
    height: 360px;
    border-radius: 7px;
    object-fit: cover;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.mangaPage:hover {
    filter: brightness(.7);
}
.mangaInfo {
    position: absolute;
    width: 350px;
    overflow: hidden;
    top: 22svh;
    right: calc((50vw - 250px) / 2 - 175px);
    border-radius: 10px;
    padding: 10px;
    height: 300px;
}
.tags {
    display: flex;
    gap: 5px;
}
.tags > * {
    font-weight: bold;
    background-color: #2e2e2e;
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(7px, 1.2vw, 14px);
}
.tags :first-child {
    margin-left: 30px;
}
.star {
    cursor: pointer;
}