.mangaReader {
    height: calc(100svh - 35px);
    overflow: hidden;
    background-color: red;
    position: relative;
    top: 35px;
}
.reader {
    height: calc(100svh - 35px);
    position: absolute;
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(26, 26, 26);
}
.page {
    height: calc(100vh - 115px);
    position: absolute;
    top: 40px;
}
.topBar {
    height: 40px;
    background-color: rgb(12, 12, 12);
    position: absolute;
    top: 0;
    width: 100%;
}
.bottomBar {
    height: 40px;
    background-color: rgb(12, 12, 12);
    position: absolute;
    bottom: 0;
    width: 100%;
}