.mangaReader {
    height: calc(100svh - 35px);
    overflow: hidden;
    position: relative;
    top: 35px;
}
.backBtn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
    background-color: black;
    border-radius: 7px;
    padding: 5px;
    padding-left: 2px;
}
.reader {
    height: calc(100svh - 35px);
    position: absolute;
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(19, 19, 19);
}
.hiddenPage {
    display: none;
}
.page {
    height: calc(100vh - 115px);
    position: absolute;
    top: 40px;
}
.topBar {
    height: 40px;
    background-color: rgb(12, 12, 12);
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.bottomBar {
    height: 40px;
    background-color: rgb(12, 12, 12);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 30px;
    display: inline-block;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.anihub {
    display: inline-block;
    font-size: 2rem;
    transform: translateX(-2rem);
    margin-right: 40px;
    background-image: linear-gradient(100deg, #FE5F55, #ff00d4, #3185FC);
    background-clip: text;
    color: transparent;
    cursor: pointer;
}
.simpleAniHubHeader {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 20;
    bottom: 40px;
}
.btnBar {
    cursor: pointer;
}
.btnNext {
    margin-left: 5px;
}