.anihubHeader {
    display: flex;
    align-items: center;
    position: relative;
    animation: appear 1s ease;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 30px;
    display: inline-block;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.anihub {
    display: inline-block;
    font-size: 2rem;
    transform: translateX(-2rem);
    margin-right: 40px;
    background-image: linear-gradient(100deg, #FE5F55, #ff00d4, #3185FC);
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

.settingsIcon {
    position: absolute;
    height: 60px;
    width: 60px;
    right: 50px;
    font-size: 2.6rem;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
    transition: all .16s ease-in;
}

.settingsIcon:hover {
    transform: rotate(20deg);
}

@media screen and (width <= 900px) {
    .anihub {
        margin-left: 10px;
        margin-right: 55px;
    }
    .search {
        left: calc(50vw - 20vw) !important;
    }
}
.search {
    background-color: transparent;
    color: white;
    background-color: black;
    border: 3px solid white;
    z-index: 10;
    position: fixed;
    left: 30vw;
    border-radius: 30px;
    padding-inline: 30px 10px;
    padding-block: 20px 20px;
    width: 40vw;
    height: 64px;
    font-family: monospace;
    font-weight: 400;
    font-size: 1.1rem;
    outline: none;
}
.mangaModeIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: fill .6s ease-in-out, background-color .3s ease-in-out;
    border-radius: 7px;
    box-sizing: unset;
    position: fixed;
    left: calc(70vw + 20px);
    padding: 7px;
    z-index: 1;
}
