.anihubHeader {
    display: flex;
    align-items: center;
    position: relative;
    animation: appear 1s ease;
    z-index: 10;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 30px;
    display: inline-block;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.anihub {
    display: inline-block;
    font-size: 2rem;
    transform: translateX(-2rem);
    margin-right: 40px;
    background-image: linear-gradient(100deg, #FE5F55, #ff00d4, #3185FC);
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

.settingsIcon {
    position: absolute;

    right: 50px;
    font-size: 2.6rem;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
    transition: all .16s ease-in;
}

.settingsIcon:hover {
    transform: rotate(20deg);
}

@media screen and (width <= 900px) {
    .anihub {
        margin-left: 10px;
        margin-right: 55px;
    }
    .search {
        left: calc(50vw - 20vw) !important;
    }
}
.search {
    color: #888;
    background-color: #1a1a1aaa;
    backdrop-filter: blur(7px);
    border: 3px solid #979797;
    position: fixed;
    left: 35vw;
    border-radius: 30px;
    padding-inline: 40px 10px;
    padding-block: 20px 20px;
    width: 30vw;
    height: 64px;
    font-family: monospace;
    font-weight: 400;
    font-size: 1.1rem;
    outline: none;
    transition: all .3s ease-in-out;
    font-weight: bold;
}

.search:hover, .search:focus {
    width: 35vw;
    left: 32.5vw;
}

.search:not(:placeholder-shown):hover, .search:not(:placeholder-shown):focus {
    color: #FE5F55;
    width: 40vw;
    left: 30vw;
    background-color: transparent;
    backdrop-filter: blur(30px);
}
.search::placeholder{
    transition: all .3s ease-in-out;
}

.search::placeholder:not(:placeholder-shown) {
    color: #888;
    font-weight: bold;
}
.search:hover::placeholder, .search:focus::placeholder {
    color: #aaa;
    font-weight: bold;
}

.mangaModeIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: fill .6s ease-in-out, background-color .3s ease-in-out;
    border-radius: 10px;
    box-sizing: unset;
    position: fixed;
    left: calc(70vw + 20px);
    padding: 7px;
    backdrop-filter: blur(20px);
}
