@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.episodesList {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 20px;
    margin-top: 20px;
    overflow-x: scroll;
    width: calc(100vw - 130px);
    margin-left: 65px;
    mask-image: linear-gradient(90deg,rgba(255, 255, 255, 0.1),  white 10% 90%, rgba(255, 255, 255, 0.1));
    scroll-behavior: smooth;
    opacity: 0;
    animation: appear 1s 1s ease forwards;
}
.episodesList::-webkit-scrollbar {
    display: none;
}