.episode {
    position: relative;
    border-radius: 16px;
    min-width: 400px;
    width: 400px;
    cursor: pointer;
    transition: all 0.16s ease-in;
    overflow: hidden;
}
.episode:hover {
    filter: brightness(0.8);
}
.image {
    width: 400px;
    height: 225px;
    object-fit: cover;
    border-radius: 16px;
}
.contentTitle {
    position: absolute;
    padding-block: 20px;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.384);
    width: 90%;
    text-indent: 20px;
    font-size: 1rem;
    padding: 20px;
    bottom: 20px;
    left: 5%;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fe5f55;
    z-index: 3;
}
