@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.episode {
    position: relative;
    border-radius: 16px;
    min-width: 400px;
    width: 400px;
    cursor: pointer;
    transition: all 0.16s ease-in;
    overflow: hidden;
    opacity: 0;
    animation: appear 1s 1.3s ease forwards;
}
.episode:hover {
    filter: brightness(0.8);
}
.image {
    width: 400px;
    height: 225px;
    object-fit: cover;
    border-radius: 16px;
}
.contentTitle {
    position: absolute;
    bottom: 0px;
    padding-block: 20px;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.384);
    width: 100%;
    text-indent: 20px;
    font-size: 1.2rem;
}
.newIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fe5f55;
    z-index: 1;
}
