.keyVisual {
    height: 200px;
    width: 300px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: all .16s ease-in;
}
.keyVisual:hover {
    transform: scale(1.05);
}
.keyVisual:active {
    transform: scale(.98);
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    -webkit-user-drag: none;
}
.contentTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 2.3rem;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    display: flex;
    text-indent: 20px;
    align-items: center;
    font-size: 1.2rem;
}